body{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: grid;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.frame{
    width: 50vw;
    height: 80vh;
    background-color: rgb(19, 19, 19);
    justify-self: center;
    align-self: center;
    box-shadow: 0px 0px 15px 10px rgb(8, 8, 8);
    overflow: hidden;
}
#screen{
    display: grid;
    position: relative;
    background-color: rgb(80, 80, 80);
    width: 98%;
    height: 20%;
    top: 10px;
    justify-self: center;
    align-content: center;
    justify-content: right;
    font-size: xx-large;
}
#more img{
    width: 3vw;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    background-color: black;
    z-index: 1;
}
#del{
    position: absolute;
    bottom: 2%;
    left: 8%;
    background-color: red;
    color: white;
    font-size: 90%;
    padding: 0.5%;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
#con{
    position: absolute;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    font-size: x-large;
    gap: 1vw;
    top: 2px;
    left: 2px;
    padding: 5px;
}
#moniter{
    position: absolute;
    background-color: grey;
    width: 79%;
    height: 71%;
    right: 4px;
    align-self: center;
    border: 2px solid white;
    border-radius: 5px;
    align-content: center;
    overflow: hidden;
}
.con{
    padding: 2px;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}
#deg{
    background-color: white;
    color: black;
}
.box{
    height: 75%;
    width: 98%;
    justify-self: center;
    position: relative;
    bottom: -20px;
}
#numbox{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    right: 0px;
    grid-gap: 10px;
    column-gap: 10px;
    row-gap: 10px;
    background-color: black;
    transform: rotate3d(0,1,0,0deg);
    z-index: 1;
    transition: all 1s
}
#optbox{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    right: 0px;
    grid-gap: 10px;
    column-gap: 10px;
    row-gap: 10px;
    z-index: 0;
    background-color: black;
    transform: rotate3d(0,1,0,180deg);
    transition: all 1s;
}
.num , .op,#start,#equal{
    background-color: rgb(43, 43, 43);
    color: white;
    align-content: center;
    justify-items: center;
    display: grid;
    cursor: pointer;
}
.trigo,#log,#ln,#sqroot,#curoot,#e,#pow,#fact,#pi,#ans{
    background-color: rgb(42, 24, 126);
    color: white;
    align-content: center;
    justify-items: center;
    display: grid;
    cursor: pointer;
}
#log:hover,#ln:hover,#sqroot:hover,#curoot:hover,#e:hover,#pow:hover,#fact:hover,#pi:hover{
    background-color: rgb(49, 49, 138);
}
.op{
    background-color: rgb(41, 41, 129);
}
#equal,#ans{
    background-color: green;
}
#start{
    background-color: rgb(221, 28, 28);
}
.num:hover{
    background-color: rgb(54, 54, 54);
}
.op:hover, .trigo:hover{
    background-color: rgb(49, 49, 138);
}
#start:hover{
    background-color: rgb(221, 40, 40);
}
#equal:hover,#ans:hover{
    background-color: rgb(25, 151, 25);
}
@media (max-width:892px){
    #moniter{
        width:75%
    }
    #con{
        top: 0px;
        left: 0px;
        height: 40%;
        width: 17%;
        font-size: 55%;
    }
    #del{
        height: 25%;
        font-size: 50%;
    }
}
@media (max-width:440px) {
    .frame{
        width: 80vw;
    }
    #screen{
        height: 16%;
    }
    #more img{
        width: 10vw;
    }
    .box{
        height: 79%;
    }
    #moniter{
        width: 61%;
    }
    #con{
        width: 30%;
        font-size: 70%;
        height: 30%;
    }
    #del{
        width: 14%;
        left: 16%;
        bottom: 10%;
        font-size: 80%;
    }
}
@media (max-width:375px){
    #del{
        bottom: 4%;
        font-size: x-large;
        padding: 1%;
        left: 18%;
    }
}
@media (max-width:344px){
    #moniter{
        width: 55%;
    }
    #del{
        bottom: 10%;
        border: 2px solid black;
    }
}
